.container {
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   gap: 50px;

   .converter {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin: 0 auto;
      color: black;

      .valutes {
         display: flex;
         justify-content: center;
         gap: 20px;
         align-items: center;
         font-size: 1.4rem;

         select {
            border: none;
            padding: 10px 20px;
            color: black;
            font-size: 1.2rem;
            border-radius: 20px;
            option {
               color: black;
            }
         }
      }
      .result {
         margin-top: 20px;
         font-size: 1.4rem;
         text-align: center;
      }

      .convert {
         margin-top: 20px;
         text-align: center;
         input {
            width: 350px;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 1.2rem;
            color: black;
            margin-right: 20px;
            border: none;
         }

         .convert_button {
            border-radius: 20px;
            border: var(--border);
            background: var(--background);
            padding: 10px 20px;
            font-size: 1.2rem;
            transition: 0.2s ease-in-out;

            &:hover {
               cursor: pointer;
               background: var(--color);
               color: var(--background);
            }
         }
      }
   }
}
