.header {
   height: 80px;
   padding: 20px;
   border-bottom: var(--border);
   background: var(--background);
   display: flex;
   justify-content: space-around;

   .navbar {
      align-items: center;

      ul {
         list-style-type: none;
         display: flex;

         :not(:last-child) {
            margin-right: 20px;
         }

         .link {
            font-size: 2rem;
            transition: 0.1s ease-in-out;
            border-radius: 30px;
            padding: 0px 10px 5px;

            &:hover {
               background: var(--color);
               color: var(--background);
            }
         }
         .active {
            background: var(--color);
            color: var(--background);
         }
      }
   }
}
